<div class="cart-total">
<h1>Cart page</h1>
<%= link_to 'Empty the Cart', cart_clear_path %>
<br><br><br>

<% total = 0 %>

<table>
  <tr class="cart">
    <td>Name</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Total price</td>
  </tr>


  <% @cart.each do | id, quantity | %>
    <% product = Product.find_by_id(id) %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= number_to_currency(product.price, :unit => "€")%></td>
    <td><a href="/cart/remove/<%= product.id %>"> <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/matte-white-square-icons-alphanumeric/124324-matte-white-square-icon-alphanumeric-minus-sign-simple.png" /> </a> <%=quantity%><a href="/cart/<%= product.id %>"> <img src="http://www.freeiconspng.com/uploads/plus-sign-icon-15.png" alt="" /> </a>
  </td>
    <%subtotal = quantity * product.price%>
    <td><%=number_to_currency(subtotal, :unit => "€") %></td>
  </tr>
  <%total = total + subtotal%>
  <% end %>
  </table>
  <br>
  <br>


  <b>Total shopping cart:<%=number_to_currency(total, :unit => "€")%></b>
  <br>
  <br>

  <p><%= link_to "Continue Shopping", products_path %></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<% if customer_signed_in?%>
<%= link_to 'CheckOut', cart_checkout_path %>
<% else %>
<%= link_to "Log in to checkout", new_customer_session_path %>
<% end %>
