<h1>Cart page</h1>
<%= link_to 'Empty the Cart', cart_clear_path %>
<br><br><br>

<% total = 0 %>

<table>
  <tr class="">
    <td>Name</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Total price</td>
  </tr>

<%= @cart  %>
<% @cart.each do | id, quantity | %>
  <% product = Product.find_by_id(id) %>
<tr>
  <td><%= link_to product.name, product %></td>
  <td><%= number_to_currency(product.price, :unit => "€")%></td>
  <td><a href="/cart/remove/<%= product.id %>"> - </a> <%=quantity%><a href="/cart/<%= product.id %>"> + </a>
</td>
  <%subtotal = quantity * product.price%>
  <td><%=number_to_currency(subtotal, :unit => "€") %></td>
</tr>
<%total = total + subtotal%>
<% end %>
</table>


<b>Total shopping cart:<%=number_to_currency(total, :unit => "€")%></b>

<% if customer_signed_in?%>
<%= link_to 'CheckOut', cart_checkout_path %>
<% else %>
<%= link_to "Log in to checkout", new_customer_session_path %>
<% end %>
