<h1>Cart page</h1>
<%= link_to 'Empty the Cart', cart_clear_path %>
<br><br><br>

<% total = 0 %>

<ul>
<% @cart.each do | id, quantity | %>
  <% product = Product.find_by_id(id) %>

  <li>
    <%= link_to product.name, product %>
    <p><%= product.description %></p>
    <p>Product price:   <%= number_to_currency(product.price, :unit => "€")%> &nbsp; Quantity: <%=quantity%></p>
  </li>
  <p><%subtotal = quantity * product.price%></p>
  <p>Total per product: <%=number_to_currency(subtotal, :unit => "€") %></p>
  <p><%total = total + subtotal%></p>
<% end %>
<br>
<b>Total shopping cart:<%=number_to_currency(total, :unit => "€")%></b>
</ul>
<br>
<td><%= link_to 'Proceed to checkout', new_order_path%>
