<h1>Products</h1>

<% @products.each do |product| %>
<p><%= product.name %></p>
<p><%= product.sub_header %></p>
<p><%= product.description %></p>
<p><img height="100" width="200" src="<%=product.image%>" alt="edit" /></p>
<p><%= product.price %></p>
<p><%= product.stock %></p>
<p><%= product.reference_number %></p>

<%= button_to "Cart" %>
<% end %>
