<h1>Products</h1>

<% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product.id) %></p>
  <p><%= product.sub_header %></p>
  <%= image_tag product.image.to_s %>
  <p><%= product.price %></p>
  <a href="/cart/<%= product.id %>"> Add To Cart</a>
<% end %>

<%= link_to 'Back', root_path %>

<div class="footer">
  <ul>
    <li>streetname 123</li>
    <li>zip code + city</li>
    <li>phone number</li>
    <li>email@adres</li>
  </ul>
</div>
