<div class="main">

<% @products.each do |product| %>
<h1><%= link_to product.name, product_path(product.id) %></h1>
<h3><%= product.sub_header %></h3>
<%= image_tag product.image.to_s %>
<p><%= product.price %></p>
<a href="/cart/<%= product.id %>"> <img src="http://www.graphicsfuel.com/wp-content/uploads/2012/01/shopping-cart-icon-515.png" alt="" /></a>
<br>
<br>
<% end %>
</div>

<%= link_to 'Back', root_path %>
