<h1>Products</h1>

<% @products.each do |product| %>
<p><%= product.name %></p>
<p><%= product.sub_header %></p>
<p><%= product.description %></p>
<p><img src="<%=product.image%>" alt="edit" /></p>
<p><%= product.price %></p>
<p><%= product.stock %></p>
<p><%= product.reference_number %></p>

<%= f.submit "Add to Cart", class: "btn btn-primary" %>
<% end %>
