
<p><%= @product.name %></p>
<p><%= @product.sub_header %></p>
<p><%= @product.description %></p>
<p><%= @product.image %></p>
<p><%= @product.price %></p>
<p><%= @product.stock %></p>
<p><%= @product.reference_number %></p>

<%= link_to 'Back', products_path %>
