<body>
  <div class="header">
    <h1>House of MAC</h1>
  </div>

  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="products">Shop</a></li>
      <% if !customer_signed_in? %>
        <li><%= link_to "Log In", new_customer_session_path %></li>
      <% else %>
        <li><span class="login-text"><%= current_customer.email %></span></li>
        <li><%= link_to "Log Out", destroy_customer_session_path, :method => :delete %></li>
      <% end %>
    </ul>
  </div>

<h1><%= @product.name %></h1>
<p><%= @product.sub_header %></p>
<%= image_tag @product.image.to_s %>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.stock %></p>
<p><%= @product.reference_number %></p>


<a href="/cart/<%= @product.id %>"> Add To Cart</a>
<br>

<%= link_to 'Back', products_path %>



    <div class="footer">
      <ul>
        <li>streetname 123</li>
        <li>zip code + city</li>
        <li>phone number</li>
        <li>email@adres</li>
      </ul>
    </div>
